
#odontograma{
    width: 450px;
    height: 390px;
    padding-right: 60px;
}
table{
    width: 578px;
    height: 140px;
    margin-left: 80px;
    margin-top: 30px;
}
#btn{
    padding-top: 50px;
    padding-right: 35px;
}
